main {
  background: rgb(27, 25, 25, 1);
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: #fff;
  height: 70vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 2vw;
}

form a {
  font-weight: bolder;
  color: inherit;
}

.title__container {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__container h3 {
  margin-top: 2vh;
}

.access__container {
  height: 75%;
  border-top: 1px dotted rgb(210, 210, 210, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.email {
  margin-top: 1vw;
}

.access__container input {
  width: 100%;
  border: 1px solid rgb(210, 210, 210, 1);
  padding: 10px;
}

.access__container button {
  width: 100%;
  padding: 10px;
  background: rgb(27, 25, 25, 1);
  color: rgb(255, 255, 255);
}

/* Remove a borda do input quando clicado */

.search__input > input:focus {
  outline-width: 0;
}
