<main>
  <h1>{{ item }}</h1>
  <!-- Link to home -->
  <!-- Name of game -->
  <section>
    <article>
      <!-- Imagem -->
      <!-- carrossel -->
    </article>
    <article>
      <!-- Nota   ||   Game Name -->
      <!-- Description (1 line) -->

      <!-- divisão -->

      <!-- Genre -->
      <!-- Studio -->
      <!-- Productor -->
      <!-- Total votes -->
      <!-- Company -->
      <!-- Platforms -->
      <!-- Tags -->

      <!-- divisão -->

      <!-- Medium price -->
      <!-- Release Date -->
      <!-- Button: vote now -->

      <!-- divisão -->
    </article>
  </section>
  <section>
    <!-- Game Description -->
  </section>
</main>
